#qr {
    margin: 0px auto 0px auto;
    padding: 20px;
}


/* jsQR */

#wrapper {
    margin: 0px auto 0px auto;
    width: 320px;
    height: auto;
}

#canvas {
    width: 100%;
    height: auto;
    background-color: silver;
}

/* jsQR */